.header_bg{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,185,113,1) 0%, rgba(39,178,180,1) 99%, rgba(0,212,255,1) 100%);
}
.tabs{
  display: flex;
  width: fit-content;
  margin: auto;
  padding: 30px 20px;
  padding-bottom: 40px;
}
.tabs button{
  font-size: 16px;
  padding: 2px 20px;
}
.yesbutton{
  background-color: #308483;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #dfdfdf;
  position: relative;
  z-index: 1;
}
.confirmbutton {
  background-color: #fff;
  color: #9065cb;
  text-transform: uppercase;
  padding: 0px 30px !important;
  height: 34px;
  border-radius: 26px;
  font-size: 18px !important;
  position: relative;
  margin-left: -22px;
  top: 5px;
}
button {
    margin:0 auto;
    display:block;
}

* {
    box-sizing: border-box;
  }
  html,body{
    margin:0;
    padding: 0;
  }
  .card-wrapper{
    border-bottom: 1px solid #ddd;
    padding: 15px 0px;
    margin-bottom: 20px;
  }
  
  .card-custom{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  max-width: 800px;
  /* border: 2px solid gray; */
  
  }
  
  .card-description{
    width: 68%;
  }
  .card-imgage{
    width: 35%;
    max-width: 120px;
    margin-right: 20px; 
    position: relative;
    z-index: 9;
  }
  .card-imgage img{
    border-radius: 15px;
    width: 120px;
    height: 120px;
  }
  .header_bg mat-toolbar.mat-toolbar{
    background: transparent;
    overflow-y: auto;
    padding-bottom: 16px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
  }
  .header_bg mat-toolbar.mat-toolbar button{
    line-height: 19px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 10px 20px;
    white-space: break-spaces;
    width: 100px;
    margin-right: 8px;
}
.header_bg h4{
    color: #fff;
    font-size: 24px;
    padding: 0px 20px;
}
.opt_btn {
  text-align: left;
  padding-bottom: 35px;
  padding-left: 15px;
}
.opt_btn button{
  border: 0px;
  font-size: 15px !important;
  font-weight: 500;
  margin: 0px;
  margin-right: 10px;
  display: inline-block;
  padding: 2px 15px !important;
  height: auto;
  line-height: 30px;
  top: 0px;
  text-transform: capitalize;
}
.opt_btn button.confirmbutton{
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.match_list{
  background: #fff;
  padding: 10px 15px;
  border-radius: 18px;
  margin-top: -14px;
}
.match_list .row{
}
.match_list h4{
  font-size: 17px;
}
.match_list p{
  font-size: 11px;
  font-weight: 500;
  color: #626262;
}
.match_list p i{
  border: 1px solid #c4c4c4;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 8px;
  position: relative;
  top: -1px;
}
.icons{
  text-align: center;
}
.icons i{
  color: #797d88;
  margin-right: 10px;
  font-size: 20px;
}
.card-imgage .bgfocus{
  position: absolute;
  width: 114px;
  height: 58px;
  background: #54b972;
  border-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 24px;
  z-index: -1;
  right: -32px;
  transform: rotate(85deg);
}
.card-title{
  font-size: 17px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
}
.card-text{
  font-size: 16px;
  color: #000;
  font-weight: normal;
}
ul.share li {
  display: inline-block;
  font-size: 16px;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #ddd;
}
ul.share li:last-child{
  border-right: 0px;
  padding-right: 0px;
  margin-right: 0px;
}
ul.share li img {
  width: 16px;
  margin-right: 4px;
}

ul.share {
  padding: 10px 0px;
  margin: 0px;
  text-align: center;
}
.link_sec{
  text-align: right;
}

.link_sec p {
  display: inline-flex;
  text-align: right;
  align-items: center;
  align-self: flex-end;
  font-size: 16px !important;
  color: #000 !important;
  margin: 0px auto;
}
.link_sec button{
  border: 0px;
  background: #f89801;
  padding: 5px 22px;
  border-radius: 20px;
  margin-left: 10px;
}
.link_sec button img{
  width: 24px;
}
.verif_sec{
  padding-bottom: 10px;
}
.verif_sec img{
  width: 16px;
  margin-right: 4px;
}
.verif_sec ul{
  margin: 0px;
  padding: 0px;
}
.verif_sec ul li{
  display: inline-block;
  font-size: 12px;
}
.verifi_opt{
  color:#6176d6;
  margin-right: 15px;
}
.prime_opt{
  color:#73588b;
}
button.mat-focus-indicator.mat-menu-item .cdk-focused .cdk-touch-focused{
  background: #000;
  }
  #blur:nth-word(2){
    color:transparent;
    text-shadow: 0 0 2px #fff;
    font-size:34px;
    font-family: 'Carme', sans-serif;
  }
  
  .active-menu{
    background: #308483 !important;
    border: none !important;
  }
.scroll_page{
  display: none;
}
.copyright ul {
  padding: 0;
}
.copyright li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px 0px 10px;
  font-size: 14px;
}
.copyright li.active {
  color: green;
}

.copyright {
  z-index: 9;
  background: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.copyright img {
  display: block;
  margin: 3px auto;
}